runtime/*

# phpstorm project files
.idea/*

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/src/vendor

# composer itself is not needed
/src/composer.phar

# Mac DS_Store Files
.DS_Store

/.nuxt
/web/_nuxt
/src/composer.lock
/src/server/api/config/params.php
/src/server/backend/config/params.php
/src/server/common/config/params.php
/src/server/console/config/params.php
#/src/yii_test.bat
#/src/yii_test
#/src/yii
/src/api/config/params.php
/src/frontend/package-lock.json
/src/backend/config/params.php
/src/common/config/params.php
/src/console/config/params.php
