.text-purple {
  color: $purple;
}

.text-dark-gray {
  color: $dark-gray;
}

.text-gray {
  color: $gray;
}

.text-light-gray {
  color: $light-gray;
}

.text-red {
  color: $red;
}

.text-black {
  color: $black;
}

.background-purple {
  background-color: $purple !important;
}

.background-dark-gray {
  background-color: $dark-gray;
}

.background-gray {
  background-color: $gray;
}

.background-light-gray {
  background-color: $light-gray;
}

.background-red {
  background-color: $red;
}

.background-black {
  background-color: $black;
}

.background-white {
  background-color: $white;
}