.mp-container {
  padding: 0;

  @media (min-width: 1200px) {
    max-width: 1180px
  }
}

.mp-button-purple {
  padding: 12px 45px 12px 45px;
  font-size: $font-size;
  line-height: 19px;
}

.mp-btn {
  display: inline-block;
  font-weight: 400;
  color: $purple;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,
  background-color .15s ease-in-out,
  border-color .15s ease-in-out,
  box-shadow .15s ease-in-out;
}

.mp-btn-sm {
  padding: .275rem .55rem;
}

.mp-btn-transparent {
  color: $purple;
  border-color: $purple;
  &:hover, &.active {
    color: #fff;
    background: $purple;
    text-decoration: none;
  }
}

.mp-button-white {
  padding: 10px 21px 10px 21px;
  font-size: $font-size;
  font-weight: 300;
  line-height: 1;
  border: 1px solid $purple !important;
  box-sizing: border-box;
  color: $purple;
  border-radius: 5px;
  background: #fff;
}

.mp-input {
  height: 46px;
}

.mp-pagination {
  .page-item {
    margin-right: 1.5rem;

    .page-link {
      border: 1px solid $purple;
      box-sizing: border-box;
      border-radius: 5px;
      width: 38px;
      height: 38px;

      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.collapse-button {
  &:after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin-left: 5px;
  }

  &.collapsed::after {
    content: '\f078';
  }

  &.not-collapsed::after {
    content: '\f077';
  }
}