.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 13px;

  &:last-of-type {
    margin-bottom: 0;
  }

  &.icon::before {

    content: '';
    display: block;
    background-repeat: no-repeat;
    margin-right: 14px;
    height: 16px;
    width: 16px;
    background-size: 15px 15px;

  }

  &.user::before {
    background-image: url('~assets/pics/icons/user.svg');
  }

  &.create-at::before {
    background-image: url('~assets/pics/icons/clock.svg');
  }

  &.views::before {
    background-image: url('~assets/pics/icons/eye.svg');
  }
}
